[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
regex = "*"
scipy = "*"
tabulate = "*"
pillow = "*"
pandas = "*"
seaborn = "*"
openpyxl = "*"
opencv-python = "*"
pyyaml = "*"
pyqt5 = "==5.15.10"
pyqtgraph = "==0.13.3"

[dev-packages]

[requires]
python_version = "3.8"
